input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  margin-left: 20px;
  margin-bottom: 2px;
}

#timer {
  color: white;
  width: 200px;
  border-radius: 25px;
  background-color: rgb(41, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

#timer::before {
  content: 'Tempo restante';
  margin-right: 10px;
}
